$background-header: rgba(151, 219, 136, 0.795); // licht groen
$border-bottom: 5px solid rgb(0, 92, 21); // donker groen
$text-color: rgb(9, 9, 188); // donker blauw

$small-width: 400px;
$medium-width: 800px;
$large-width: 1200px;

$background-color: rgba(141, 176, 232, 0.573);
